{{ define "main" }}

<section id="single">
    <h1 class="title">{{ .Title }}</h1>

    <div class="tip">
        <time datetime="{{ .PublishDate }}">{{ i18n "publishDateFull" . }}</time>
        <span class="split">
          ·
        </span>
        <span>
          {{ i18n "wordCount" . }}
        </span>
        <!-- <span class="split">
          ·
        </span>
        <span>
          {{ i18n "minuteRead" . }}
        </span> -->
    </div>
    
    {{ if or .Site.Params.showToc .Params.showToc }}
        {{ partial "toc.html" . }}
    {{ end }}

    {{ if .Params.summary }}
          <p class="summary">{{ .Params.summary }}</p>
    {{ end }}

    {{ if .Params.note1 }}
        <pre class="note note1">
          {{ .Params.note1 }}
        </pre>
    {{ end }}
    
    <div class="content">
      {{ .Content }}
    </div>

    {{ if .Params.note2 }}
        <pre class="note note2">
          {{ .Params.note2 }}
        </pre>
    {{ end }}

    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}
    
    {{ partial "comment.html" . }}

</section>

{{ end }}

